.expressive-code {
    .frame {
        @apply !shadow-none;

        pre {
            max-height: 600px;
            overflow-y: auto;
        }
    }

    .title {
        font-family: "JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
}
